.form {
    display: grid;
    grid-template-columns: 18fr 2.5fr;
    grid-column-gap: 10px;
    justify-content: center;
    padding: 10px;
    height: 100%;
    margin-bottom: 5px;
}

.form button {
    white-space: nowrap;
    outline: none;
    height: 72px;
    background-color: rgb(117, 151, 223);
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: background-color 1s ease-in-out;
    box-shadow: none;
}

.form button:hover {
    background-color: rgb(51, 99, 204);
    box-sizing: border-box;
    height: 100%;
}

.form button:active {
    background-color: rgb(6, 31, 83);
    color: #fff;
    height: 100%;
    box-shadow: none;
}

.form input {
    padding: auto;
}

.form input:focus {
    border: 3px solid rgb(51, 99, 204);
    box-sizing: border-box;
    height: 100%;
}

.MuiTextField-root fieldset {
    border: none;
}