* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.App {
  text-align: center;
  background-color: rgb(53, 48, 48);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.App__homepage {
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
}

.message__list {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-column-gap: 10px;
  margin: 10px 20px 0 10px;
  min-height: calc(100vh - 185px);
}

.nopage {
  color: #fff;
}

.header {
  margin: 0 auto;
  padding: 0;
  background-color: #6f6f72;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}

.main-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  line-height: 100%;
}

.main-link:hover {
  color: rgb(63, 64, 156);
  border: 1px solid rgb(63, 64, 156);
  background-color: #fff;

}

.main-link:active {
  color: rgb(26, 9, 73);
  border: 1px solid rgb(26, 9, 73);
  background-color: rgb(179, 193, 223);
}

.profile {
  color: #fff;
  padding: 15px;
}

.profile input {
  margin: 10px;
  transform: scale(1.2);
  min-width: 500px;
}

.profile span {
  font-size: 14px;
  display: inline-block;
  margin: 5px 0;
}

.profile div {
  padding: 10px;
  margin: 0 auto;
  font-size: 15px;
  color: rgb(26, 9, 73);
  width: max-content;
  background-color: rgb(179, 193, 223);
}

.chatlist__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding: 5px;
  height: 100%;
  text-align: left;
}

.chatlist__wrapper label {
  font-size: 11px;
  line-height: 150%;
  text-align: center;
}

.chatlist__wrapper label span {
  font-size: 11px;
  color: rgb(206, 22, 46);
  font-weight: 600;
  text-decoration: underline;
}

.chatlist__wrapper input {
  width: 90%;
  height: 30px;
}

.chatlist__wrapper button {
  width: 90%;
  background-color: rgb(179, 193, 223);
  border: 1px solid transparent;
  border-radius: 5px;
  height: 30px;
}

.chatlist__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.chatlist__items-text {
  margin: 0;
}